<div *ngIf="details" class="details_wrapper">
    <table class="">
        <tr>
            <td style="width:200px">
                <div class="details_image_wrapper">
                    <img src="{{ details.photoURL }}" />
                </div>
            </td>
            <td>
                <form class="property-details-form">
                <table class="table table-striped table-hover property-details" style="display: inline-table">
                    <tr>
                        <td>Designation Report:</td>
                        <td>{{ details.name | capitalize }}</td>
                    </tr>
                    <tr>
                        <td>Landmark Type:</td>
                        <td>{{ details.objectType }}</td>
                    </tr>
                    <tr>
                        <td>Architect:</td>
                        <td>{{ details.architect }}</td>
                    </tr>
                    <tr>
                        <td>Architectural Style:</td>
                        <td>{{ details.style }}</td>
                    </tr>
                    <tr>
                        <td>Date of Designation:</td>
                        <td>{{ details.dateDesignated | date: 'ddMMyyyy' }}</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>{{ details.street }}
                            <br />{{ details.borough }}</td>
                    </tr>
                </table>
                <button class="btn btn-success btn-lg">Submit</button>
                </form>
            </td>
        </tr>
    </table>
</div>
