//
// This file compiles to a custom bootstrap stylesheet for Angle
//
// Override bootstrap variables
@import "app/variables";
// Bootstrap
@import "bootstrap/bootstrap";
@import "../../node_modules/simple-line-icons/scss/simple-line-icons.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "toaster";
.img100 {
  width: 100px;
  height: 75px;
}

.img75 {
  width: 75px;
  height: 75px;
}

.property_wrapper {
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

.property-details {
  tr {
    td {
      &:first-child,
      &[rowspan="7"] {
        width: 220px;
      }
    }
  }
}

.page {
  .panel-body {
    margin-top: 0;
  }
  .breadcrumb {
    margin-bottom: 0;
  }
}
