**/assets/**/*
**/assets

**/docker/**/*
**/docker

**/bin/**/*
**/bin

**/obj/**/*
**/obj

**/Apis/**/*
**/Apis

**/Configuration/**/*
**/Configuration

**/Controllers/**/*
**/Controllers

**/Extensions/**/*
**/Extensions

**/Properties/**/*
**/Properties

**/Services/**/*
**/Services

**/Views/**/*
**/Views

**/ViewModels/**/*
**/ViewModels

**/wwwroot/**/*
**/wwwroot

.dockerignore

**/*.cs
**/*.js
**/*.map
**/*.md

**/appsettings*.json

**/web.config
**/Jenkinsfile-base
**/Jenkinsfile
**/Dockerfile
