<nav class="page-header" (window:resize)="onResize($event)">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-target="#myNavbar" align="center" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>         
        <img src="img/map-icon.png" class="navbar-toggle" *ngIf="isMobile && locationEnabled">
        <a class="btn" href="#">CoreDataStore</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" align="center">
        <ul class="nav navbar-nav navbar-right">      
            <li><a routerLink="/references">LPC Reports</a></li>
            <li><a routerLink="/maps">Maps</a></li> 
            <li><a routerLink="/diagnostics">Diagnostics</a></li>
            <li><a href="/swagger/ui/index.html">Swagger</a></li>
        </ul>
    </div>
</nav>
<div id="mySidenav" class="sidenav">
    <div class="page-header">
        <a href="javascript:void(0)" class="closebtn">&times;</a>
    </div>
    <div class="first-menu-style"> 
        <a routerLink="/references">LPC Reports</a>
        <a routerLink="/maps">Maps</a>
        <a routerLink="/diagnostics">Diagnostics</a>
        <a href="/swagger/ui/index.html">Swagger</a>
    </div>
</div>