<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
  <!-- START navbar header-->
  <div class="navbar-header">
    <a class="navbar-brand" href="#/">
      <div class="brand-logo">
        <a href="#">CoreDataStore</a>
      </div>
      <div class="brand-logo-collapsed">
        <a href="#">CDS</a>
      </div>
    </a>
  </div>
  <!-- END navbar header-->
  <!-- START Nav wrapper-->
  <div class="nav-wrapper">
    <!-- START Left navbar-->
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/references">LPC Reports</a>
      </li>
      <li>
        <a routerLink="/maps">Maps</a>
      </li>
      <li>
        <a routerLink="/diagnostics">Diagnostics</a>
      </li>
      <li>
        <a href="/swagger/ui/index.html">Swagger</a>
      </li>
    </ul>
    <!-- END Left navbar-->
  </div>
  <!-- END Nav wrapper-->
</nav>
<!-- END Top Navbar-->
