<div *ngFor="let property of properties" class="property_wrapper">
  <table class="table table-striped table-hover property-details">
    <tr>
      <td>Designation Report:</td>
      <td><a [routerLink]="['/details', property.id]">{{ property.name | capitalize }}</a></td>
      <td rowspan="7"><img class="img-thumbnail img-responsive" src="{{property.photoURL}}" /></td>
    </tr>
    <tr>
      <td>Landmark Type:</td>
      <td>{{ property.objectType }}</td>
    </tr>
    <tr>
      <td>Landmark Number:</td>
      <td>{{ property.lpNumber }}</td>
    </tr>
    <tr>
      <td>Architect:</td>
      <td>{{ property.architect }}</td>
    </tr>
    <tr>
      <td>Architectural Style:</td>
      <td>{{ property.style }}</td>
    </tr>
    <tr>
      <td>Date of Designation:</td>
      <td>{{ property.dateDesignated | date: 'MM/dd/yyyy' }}</td>
    </tr>
    <tr>
      <td>Address:</td>
      <td>{{ property.street }}
        <br />{{ property.borough }}</td>
    </tr>
  </table>
</div>
<div *ngIf="!properties.length">
  No Records Found
</div>
